{% extends "base.html" %}
{% load static %}

{% block title %}Guess What?{% endblock %}

{% block content %}

<!-- 引用 CSS -->
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">

<!-- 卡片容器 -->
<div id="stage-container">
  <div id="stage" class="stage"></div>
</div>


<div id="zoom-viewer">
  <div class="zoom-frame">
    <img id="zoom-img" src="" alt="photo" />
    <div class="zoom-caption">Photo by Cheryl • 2025</div>
  </div>
</div>



<!-- 引用 JS -->
<script src="{% static 'js/gallery.js' %}"></script>

{% endblock %}
